p{
    font-weight: 400;
    font-size: 20;
    padding:5px;
    font-style:normal;
}
input {
  width: 250px;
  height: 30px;
  margin:10px;
    border: 2px solid;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}
button{
     width: 200px;
    height: 60px;
    color:cadetblue;
    margin:10px auto;
    font-weight:bolder;
    font-size: 30;
    padding:5px;
    font-style:normal;
    background-color: aquamarine;
    border: none
}
body {
  background-image: url('bralirwa1.jpg');  
  background-size: cover;                   
  background-repeat: no-repeat;             
  background-position: center;  
  text-align: center;            
}